<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>회원가입</title>
</head>
<body>
    <div >
        <h2 th:text="#{page.register}">회원 등록</h2>
    </div>

<form action="signup.html" th:action th:object="${testDto}" method="post">
    <div>
        <label for="username" th:text="#{label.user.username}">이름</label>
        <input type="text" id="username" th:field="*{username}"
               th:errorclass="field-error" class="form-control" placeholder="이름을 입력하세요">
        <div class="field-error" th:errors="*{username}">이름 오류</div>

        <label for="password" th:text="#{label.user.password}">비밀번호</label>
        <input type="text" id="password" th:field="*{password}"
               th:errorclass="field-error" class="form-control" placeholder="비밀번호 입력하세요">
        <div class="field-error" th:errors="*{password}">
            이름 오류
        </div>
        <label for="address" th:text="#{label.user.address}">주소</label>
        <input type="text" id="address" th:field="*{address}"
               th:errorclass="field-error" class="form-control" placeholder="주소 입력하세요">
        <div class="field-error" th:errors="*{address}">
            이름 오류
        </div>

        <div>
            <button type="submit" th:text="#{button.save}">회원 등록</button>
        </div>
    </div>
</form>
</body>
</html>